@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

/*
font-family: 'Montserrat', sans-serif;
*/

:root {
    scroll-behavior: auto;
    --Primary-Color: #0B182E;
    --Secondary-Color: #69768D;
    --Stroke-Color: #DEE4E7;
    --Button-Color: #03AEB9;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-green: #01B980;
    --primary-font: 'Montserrat', sans-serif;
    --body-font: 'Montserrat', sans-serif;
    --primary-transition: all 0.4s ease-in-out;
}



* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none !important;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-shadow: none;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
}

p {
    margin: 0;
}

html {
    padding: 0;
    margin: 0;
    border-radius: 0;
}

body {
    padding: 0;
    margin: 0;
    border-radius: 0;
    font-family: var(--body-font);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: #565656;
    overflow-x: hidden;
}

b,
strong {
    font-weight: 700;
}

em {
    font-style: normal;
}

a {
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    outline: none !important;
    text-decoration: none;
    font-style: normal;
    text-decoration: none;
    text-decoration: none;
    color: var(--Primary-Color);
}

a:hover {
    text-decoration: none;
    color: var(--Primary-Color);
}

a:focus {
    text-decoration: none;
    color: var(--Primary-Color);
}

button {
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    outline: none !important;
    text-decoration: none;
    font-style: normal;
    text-decoration: none;
}

input {
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    outline: none !important;
    text-decoration: none;
    font-style: normal;
    text-decoration: none;
    width: 100%;
    padding: 5px 10px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

input::-webkit-input-placeholder {
    opacity: 1;
    color: #9698a3;
}

input:-moz-placeholder {
    opacity: 1;
    color: #9698a3;
}

input::-moz-placeholder {
    opacity: 1;
    color: #9698a3;
}

input:-ms-input-placeholder {
    opacity: 1;
    color: #9698a3;
}

input[type="buttton"] {
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    outline: none !important;
    text-decoration: none;
    font-style: normal;
    text-decoration: none;
}

input[type="submit"] {
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    outline: none !important;
    text-decoration: none;
    font-style: normal;
    text-decoration: none;
}

.btn {
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    outline: none !important;
    text-decoration: none;
    font-style: normal;
    text-decoration: none;
}

img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

figure {
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--primary-font);
    margin: 0;
    margin: 0;
}

textarea {
    padding: 5px 10px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

textarea::-webkit-input-placeholder {
    opacity: 1;
    color: #9698a3;
}

textarea:-moz-placeholder {
    opacity: 1;
    color: #9698a3;
}

textarea::-moz-placeholder {
    opacity: 1;
    color: #9698a3;
}

textarea:-ms-input-placeholder {
    opacity: 1;
    color: #9698a3;
}

input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100%;
}

.bootstrap-select:not(.input-group-btn) {
    width: 100%;
}

.bootstrap-select[class*="col-"] {
    width: 100%;
}



.container {
    max-width: 1170px;
}

.section-padding {
    padding: 80px 0;
}

.section-padding-x {
    padding-top: 100px;
}

.section-padding-y {
    padding-bottom: 100px;
}

.bg-image-section {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.overflow-hidden {
    overflow: hidden;
}

.btn,
.basic-btn {
    font-family: var(--primary-font);
    font-size: 17px;
    line-height: 20px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    background-color: var(--Button-Color);
    border: 1px var(--Button-Color) solid;
    padding: 14px 25px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    z-index: 9;
}

.basic-btn:hover {
    background-color: #ef6130;
    color: #fff;
    box-shadow: 0 0 35px rgba(239, 97, 68, 0.18);
}



.btn.btn-primary {
    background-color: var(--Button-Color);
    border: 1px var(--Button-Color) solid;
    color: #fff;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active,
.btn.btn-primary:active:focus {
    background-color: var(--Primary-Color);
    border-color: var(--Primary-Color);
    box-shadow: 0px 17px 10px -10px rgba(28, 61, 96, 0.4);
}


.bg_img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.p_r {
    position: relative;
}

.section-heading h1 {
    font-size: 50px;
    line-height: 55px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 0;
}

.section-heading h2 {
    font-size: 48px;
    line-height: 1.3;
    font-weight: 700;
    color: var(--Primary-Color);
    text-transform: capitalize;
    margin-bottom: 12px;
}


.section-heading h3 {
    font-size: 26px;
    line-height: 1.3;
    font-weight: 500;
    color: #2d2d2d;
    margin-bottom: 0;
}

.section-heading h4 {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    color: var(--Primary-Color);
    margin-bottom: 22px;
    text-transform: uppercase;
    position: relative;
    padding-left: 96px;
}

.section-heading h5 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    color: #2c343a;
    margin-bottom: 20px;
}

.section-heading p {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 25px;
    color: #565656;
}

.section-heading p:last-child {
    margin-bottom: 0;
}

.preloader {
    display: flex;
    background-color: #f4f6f9;
    height: 100vh;
    width: 100%;
    transition: height .2s linear;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
}

.preloader {
    background-color: rgba(28, 61, 96, 0.55);
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
}

.preloader .loader {
    display: inline-block;
    width: 50px;
    height: 50px;
    color: inherit;
    vertical-align: middle;
    pointer-events: none;
    position: relative;
}

.preloader .loader:before,
.preloader .loader:after {
    content: "";
    width: inherit;
    height: inherit;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: preloaderAnimation 2s infinite ease-in-out;
    animation: preloaderAnimation 2s infinite ease-in-out;
}

.preloader .loader:after {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

@-webkit-keyframes preloaderAnimation {

    0%,
    100% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}

@keyframes preloaderAnimation {

    0%,
    100% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}

/* login-css */
.login-wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-outer {
    padding: 0 15px;
    max-width: 480px;
}

.login-outer .login-logo {
    margin-bottom: 40px;
}

.login-outer .login-logo a {
    display: inline-block;
    max-width: 150px;
}

.login-title-outer .title {
    color: var(--Primary-Color);
    font-size: 24px;
    line-height: 1.2;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 8px;
}

.login-title-outer .sub-title {
    color: var(--Secondary-Color);
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    margin-bottom: 20px;
}

.login-authenticator button {
    border-radius: 10px;
    border: 1px solid var(--Stroke-Color);
    padding: 10px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--Primary-Color);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    width: 100%;
    background-color: transparent;
    box-shadow: none;
}

.login-authenticator button span {
    line-height: 1;
    min-width: 20px;
    margin-right: 10px;
}

.login-form-holder {
    margin-top: 30px;
}

.form-row [class*=col-] {
    margin-bottom: 20px;
}

.input-field>label {
    color: var(--Primary-Color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 10px;
    display: inline-block;
}

.input-field .form-control {
    height: 51px;
    font-size: 16px;
    color: var(--Secondary-Color);
    font-weight: 400;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid var(--Stroke-Color);
    padding: 0 20px;
    transition: all 0.4s ease-in-out;
}


.input-field .form-control:focus {
    background-color: transparent;
    border-color: var(--Button-Color);
    box-shadow: none !important;
}

.input-field {
    position: relative;
}

#loginPassword {
    padding-right: 40px;
}

.password-field-holder {
    position: relative;
}

.password-field-holder .password-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
    line-height: 1;
}

.password-field-holder .password-toggle i {
    font-size: 20px;
    color: var(--Secondary-Color);
    cursor: pointer;
    line-height: 1;
}

.forgot-password-btn {
    text-align: right;
    margin-top: -12px;
    margin-bottom: 25px;
}

.forgot-password-btn a {
    color: var(--Primary-Color);
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
}

.forgot-password-btn a:hover {
    color: var(--Button-Color);
}

.login-submit-btn .btn {
    width: 100%;
}

.login-sign-up-btn {
    text-align: center;
    margin-top: 25px;
}

.login-sign-up-btn p {
    color: var(--Secondary-Color);
    font-size: 15px;
    font-weight: 500;
    line-height: 23px;
}

.login-sign-up-btn p a {
    color: var(--Primary-Color);
    font-weight: 600;
}

.login-sign-up-btn p a:hover {
    color: var(--Button-Color);
}

/* admin-css */
.admin-body-wrapper {
    background-color: #F7F7F7;
}

.sub-menu {
    display: none;
}



.admin-header {
    padding-left: 250px;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
    background-color: #fff;
    transition: all 0.4s ease-in-out;
    border-bottom: 1px var(--Stroke-Color) solid;
}

.admin-header .container {
    max-width: 100%;
}

.admin-header .container>.holder {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 30px;
    /* border-bottom: 1px var(--Stroke-Color) solid; */
}

.header-data-left,
.header-data-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-data-left .header-title-outer {
    display: flex;
    align-items: center;
}

.header-data-left .header-title-outer p {
    color: var(--Primary-Color);
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;

}

.header-title-outer .header-back-btn {
    color: var(--Primary-Color);
    font-size: 28px;
    line-height: 1;
    margin-right: 8px;
}

.header-search-outer {
    width: 470px;
    padding-left: 20px;
    margin-left: 20px;
    border-left: 1px #DEE4E7 solid;
}

.header-search-outer .holder {
    position: relative;
}

.header-search-outer .input-field {
    width: 100%;
}

.header-search-outer .form-control {
    height: 37px;
    background-color: #EAF0F0;
    border-color: #EAF0F0;
    padding-left: 40px;
}

.header-search-outer .submit-field button {
    position: absolute;
    top: 8px;
    left: 12px;
    background-color: transparent;
    padding: 0;
    color: #69768D;
    line-height: 1;
    font-size: 22px;
    transform: rotate(270deg);

}

.header-right-action-btn-outer {
    display: flex;
    gap: 12px;
    padding-right: 20px;
    margin-right: 20px;
    border-right: 1px #DEE4E7 solid;
}

.header-right-action-btn-outer .download-btn,
.header-right-action-btn-outer .help-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33px;
    height: 33px;
    border-radius: 7px;
}

.header-right-action-btn-outer .help-btn {
    background-color: #EAF0F0;
}

.header-right-action-btn-outer .download-btn {
    background-color: var(--Button-Color);
}

.user-login-info-outer .dropdown>.btn {
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid #DEE4E7;
    padding: 8px 12px;
    padding-right: 42px;
    position: relative;
}

.user-login-info-outer .dropdown>.btn::after {
    content: "\f107";
    font-family: 'Line Awesome Free';
    font-weight: 900;
    color: var(--Primary-Color);
    border: 0;
    position: absolute;
    right: 8px;
    top: 11px;
    margin: 0;
    line-height: 1;
    font-size: 16px;
}

.user-login-info-outer .dropdown>.btn .holder {
    display: flex;
}

.user-login-info-outer .dropdown>.btn .holder .user-pic {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    margin-right: 7px;
}

.user-login-info-outer .dropdown>.btn .holder .user-pic img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    border-radius: 100%;
}

.user-login-info-outer .dropdown>.btn .holder span {
    color: var(--Primary-Color);
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
}

.user-login-info-outer .dropdown-menu {
    width: 100%;
}

.user-login-info-outer .dropdown-item {
    font-weight: 500;
    color: var(--Primary-Color);
}

.user-login-info-outer .dropdown-item:hover {
    background-color: var(--Button-Color);
    color: var(--color-white);
}

.sidebar-outer {
    width: 250px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 99;
    border-right: 1px #DEE4E7 solid;
    background-color: #fff;
    transition: all 0.4s ease-in-out;
}

.sidebar-outer .logo-holder {
    padding: 20px 20px 13px;
    transition: all 0.4s ease-in-out;
}

.sidebar-outer .logo-holder .logo {
    max-width: 110px;
    transition: all 0.4s ease-in-out;
}

.sidebar-outer .logo-holder .logo img {
    transition: all 0.4s ease-in-out;
}

.sidebar-outer .wallet-balance-info {
    padding: 35px 20px 20px;
    border-bottom: 1px #DEE4E7 solid;
    transition: all 0.4s ease-in-out;
}

.sidebar-outer .wallet-balance-info .d-flex {
    padding: 5px 12px;
    border: 1px #DEE4E7 solid;
    border-radius: 10px;
    align-items: center;
}

.sidebar-outer .wallet-balance-info figure {
    width: 32px;
    height: 32px;
    background-color: #EAF0F0;
    border-radius: 6px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
}

.sidebar-outer .wallet-balance-info p {
    color: var(--Secondary-Color);
    font-size: 15px;
    font-weight: 500;
    line-height: 23px;
    margin-left: 7px;
}

.sidebar-outer .wallet-balance-info p span {
    display: block;
    color: var(--Primary-Color);
    font-size: 15px;
    font-weight: 500;
    line-height: 23px;
}

.sidebar-menu-outer {
    padding: 30px 5px;
}

.sidebar-menu-outer .navbar {
    display: block;
}

.sidebar-menu-outer .navbar-holder {
    padding: 0 5px;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

/* width */
.sidebar-menu-outer .navbar-holder::-webkit-scrollbar {
    width: 6px;
}

/* Track */
.sidebar-menu-outer .navbar-holder::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 30px;
}

/* Handle */
.sidebar-menu-outer .navbar-holder::-webkit-scrollbar-thumb {
    background: #268187;
    border-radius: 30px;
}


.sidebar-menu-outer .navbar .nav-item:not(:last-child) {
    margin-bottom: 5px;
}

.sidebar-menu-outer .nav-link {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    color: var(--Primary-Color) !important;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    border-radius: 8px;
}

.sidebar-menu-outer .nav-link .icon {
    line-height: 1;
}

.sidebar-menu-outer .nav-link .icon i {
    font-size: 20px;
    display: inline-flex;
    line-height: 1;
    color: inherit;
    margin-right: 10px;
}

.sidebar-menu-outer .sub-menu-active>.nav-link,
.sidebar-menu-outer .nav-link:hover,
.sidebar-menu-outer .nav-link:focus,
.sidebar-menu-outer .nav-link.active {
    background-color: #EAF0F0;
    color: var(--Button-Color) !important;
}

.sidebar-menu-outer .menu-item-has-children {
    position: relative;
}

.sidebar-menu-outer .sub-menu {
    padding: 15px 0 0 46px;
}

.sidebar-menu-outer .sub-menu .nav-link {
    padding: 0;
    border-radius: 0;
    color: var(--Secondary-Color);
}

.sidebar-menu-outer .sub-menu .nav-link:hover,
.sidebar-menu-outer .sub-menu .nav-link:focus,
.sidebar-menu-outer .sub-menu .nav-link.active {
    background-color: transparent;
    color: var(--Button-Color) !important;
}

.page-content-wrapper {
    padding-left: 250px;
    padding-top: 68px;
    transition: all 0.4s ease-in-out;
}

.sidebar-toggle-btn {
    cursor: pointer;
}

.sidebar-collapsed .sidebar-outer {
    width: 130px;
}

.sidebar-collapsed .page-content-wrapper,
.sidebar-collapsed .admin-header {
    padding-left: 130px;
}

.sidebar-collapsed .sidebar-outer .logo-holder .logo {
    max-width: 110px;
    width: 37px;
    overflow: hidden;
}

.sidebar-collapsed .sidebar-outer .logo-holder .logo img {
    width: 310px;
    min-width: 300px;
}

.sidebar-collapsed .sidebar-outer .logo-holder,
.sidebar-collapsed .sidebar-outer .wallet-balance-info {
    padding: 20px 10px;
    display: flex;
    justify-content: center;
}

.sidebar-collapsed .sidebar-outer .wallet-balance-info .d-flex {
    width: 60px;
    justify-content: center;
}

.sidebar-collapsed .sidebar-outer .wallet-balance-info p {
    display: none;
}

.sidebar-collapsed .sidebar-menu-outer .nav-link {
    justify-content: center;
    flex-direction: column;
    padding: 10px 2px;
}

.sidebar-collapsed .sidebar-menu-outer .nav-link .icon i {
    margin-right: 0;
}

.page-content-wrapper>.container-fluid {
    padding: 0;
}

.tab-menu .nav-tabs {
    padding: 0;
    border: 0;
}

.tab-menu .nav-link {
    color: var(--Secondary-Color, #69768D);
    font-size: 16px;
    line-height: 1;
    font-weight: 500;
    padding: 0;
    transition: var(--primary-transition);
    margin-right: 25px;
    position: relative;
    border: 0;
}

.tab-menu .nav-link:last-child {
    margin-right: 0;
}

.tab-menu .nav-link.active {
    color: var(--Button-Color);
    font-weight: 600;
}

.tab-menu .nav-link::before {
    content: "";
    position: absolute;
    bottom: -26px;
    left: 0;
    right: 0;
    border-radius: 2px;
    background: var(--Button-Color);
    width: 50px;
    height: 3px;
    margin: 0 auto;
    transform: scaleX(0);
    transition: var(--primary-transition);
}

.tab-menu .nav-link.active::before {
    transform: scaleX(1);
}

.page-content-data-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 15px 30px;
}

.page-content-data-header-action-area {
    margin-left: auto;
}

.page-content-data-header-action-area .holder .action-item:not(:last-child) {
    margin-right: 12px;
}

.page-content-data-header-action-area .order-download-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 8px;
    border: 1px solid var(--Primary-Color);
}

.page-content-data-header-action-area .btn {
    font-size: 16px;
    padding: 9px 22px;
}

.page-content-data-wrapper {
    padding: 30px;
}

.check_fill {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    line-height: 0;
}


.custom-checkbox-outer .custom-checkbox-holder {
    margin: 0;
    cursor: pointer;
}

.custom-checkbox-outer .custom-checkbox-holder span {
    display: inline-block;
    vertical-align: middle;
}

.custom-checkbox-outer .custom-checkbox-holder input[type='checkbox'],
.custom-checkbox-outer .custom-checkbox-holder input[type='radio'] {
    display: none;
}

.custom-checkbox-outer .custom-checkbox-holder input[type='checkbox']+span {
    width: 17px;
    height: 17px;
    position: relative;
    border-radius: 3px;
    border: 1px solid #69768D;
    min-width: 15px;
    transition: all 0.1s ease-in-out;
}

.custom-checkbox-outer .custom-checkbox-holder input[type='checkbox']:checked+span {
    background-color: var(--Button-Color);
    border-color: var(--Button-Color);
}

.custom-checkbox-outer .custom-checkbox-holder input[type='checkbox']:checked+span:after {
    content: "\f00c";
    font-family: "Line Awesome Free";
    font-weight: 900;
    font-size: 11px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.dataTable {
    border-bottom: 1px solid #DEE4E7 !important;
    border-radius: 10px;
    border: 1px solid #DEE4E7;
}

.dataTable thead {
    background-color: #EAF0F0;
}

.dataTable thead th {
    color: var(--Primary-Color);
    font-size: 16px;
    font-weight: 500 !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-left: 20px !important;
    border: 0 !important;
}

.dataTable tbody tr {
    background-color: transparent;
    border-bottom: 1px #DEE4E7 solid;
}

.dataTable tbody td {
    background-color: var(--color-white);
    color: var(--Secondary-Color, #69768D);
    font-size: 15px;
    line-height: 23px;
    font-weight: 500 !important;
    padding-top: 14px !important;
    padding-bottom: 14px !important;
    padding-left: 20px !important;
    box-shadow: none !important;
    border-top: 1px #DEE4E7 solid !important;
}

.dataTable tbody tr:first-child td {
    border-top: 0 !important;
}

.order-payment-status {
    border-radius: 5px;
    background: rgba(0, 155, 107, 0.07);
    color: #01B980;
    padding: 2px 15px;
    display: inline-block;
}

.order-payment-status.pending {
    color: #ffda6a;
    background-color: #332701;
}

.order-delivery-status {
    padding-left: 14px;
    position: relative;
}

.order-delivery-status::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 8px;
    height: 8px;
    background-color: var(--Button-Color);
    border-radius: 100%;
}

.order-delivery-status.pending::before {
    background-color: #ffda6a;
}

.order-delivery-status.failed::before {
    background-color: #2c0b0e;
}

.order-information-select-box {
    margin-right: 8px;
    line-height: 1;
}

.dataTables_wrapper .dataTables_info {
    padding-top: 20px;
    color: var(--Primary-Color);
    font-size: 15px;
    font-weight: 500;
    line-height: 23px;
}

.dataTables_wrapper .dataTables_paginate {
    padding-top: 15px;
    display: flex;
}

.dataTables_wrapper .dataTables_paginate span .paginate_button {
    padding: 0;
    color: var(--Secondary-Color);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    border-radius: 4px;
    background: #EAF0F0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border: 0 !important;
}

.dataTables_wrapper .dataTables_paginate span .paginate_button.current,
.dataTables_wrapper .dataTables_paginate span .paginate_button:hover {
    background: var(--Button-Color) !important;
    color: var(--color-white) !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.previous,
.dataTables_wrapper .dataTables_paginate .paginate_button.next {
    padding: 0 !important;
    font-size: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border: 0 !important;
    position: relative;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.next {
    margin-right: 0;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.previous:not(.disabled):hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.next:not(.disabled):hover {
    background: var(--Button-Color) !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.previous::before,
.dataTables_wrapper .dataTables_paginate .paginate_button.next::before {
    font-family: 'Line Awesome Free';
    font-weight: 900;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: var(--Secondary-Color);
}

.dataTables_wrapper .dataTables_paginate .paginate_button.previous::before {
    content: "\f104";
}

.dataTables_wrapper .dataTables_paginate .paginate_button.next::before {
    content: "\f105";
}

.dataTables_wrapper .dataTables_paginate .paginate_button.previous:not(.disabled):hover::before,
.dataTables_wrapper .dataTables_paginate .paginate_button.next:not(.disabled):hover::before {
    color: var(--color-white);
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: var(--color-white) !important;
}

.order-details-wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

.order-details-wrapper>.row>.col:first-child {
    flex: 0 0 auto;
    width: 70%;
}

.order-details-wrapper>.row>.col:last-child {
    flex: 0 0 auto;
    width: 30%;
}

.order-details-data-outer .order-info-row {
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1.3px solid var(--Stroke-Color, #DEE4E7);
}

.order-details-header {
    padding: 20px;
    border-bottom: 1px #DEE4E7 solid;
}

.order-details-header .data-left .order-id p {
    color: var(--Primary-Color);
    font-size: 16px;
    font-weight: 600;
}

.order-details-header .data-left .order-date p {
    color: var(--Secondary-Color);
    font-size: 15px;
    font-weight: 500;
    line-height: 23px;
}

.order-details-header .data-right .order-status {
    border-radius: 5px;
    background: #EAF0F0;
    padding: 2px 10px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}

.order-details-header .data-right .order-status.delivered {
    color: var(--color-green);
}

.order-details-body {
    padding: 20px;
    border-bottom: 1px #DEE4E7 solid;
}

.order-details-body .order-details-body-header {
    margin-bottom: 15px;
}

.order-details-body .order-details-body-header .title p {
    color: var(--Primary-Color);
    font-size: 15px;
    font-weight: 500;
    line-height: 23px;
}

.order-details-body .order-details-body-header .receipt a {
    color: var(--Button-Color);
    font-size: 14px;
    font-weight: 500;
    line-height: 23px;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    display: flex;
    align-items: center;
}

.order-details-body .order-details-body-header .receipt a span {
    line-height: 1;
    display: inline-block;
    margin-right: 4px;
}

.order-details-body .order-details-body-header .receipt a i {
    font-weight: 900;
    color: inherit;
}

.order-details-body .prducts-list-item:not(:last-child) {
    margin-bottom: 30px;
}

.order-details-body .prducts-list-item .data-left {
    flex: 1;
}

.order-details-body .prducts-list-item .product-thumbnail {
    width: 60px;
    height: 60px;
    min-width: 60px;
    margin-right: 15px;
}

.order-details-body .prducts-list-item .product-thumbnail img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center;
    object-position: center;
    border-radius: 5px;
}

.order-details-body .prducts-list-item .product-title-outer .title {
    color: var(--Primary-Color);
    font-size: 15px;
    font-weight: 500;
    line-height: 23px;
    max-width: 450px;
}

.order-details-body .prducts-list-item .product-title-outer .quantity {
    color: var(--Secondary-Color);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.order-details-body .prducts-list-item .product-price-list p {
    color: #0B182E;
    font-size: 15px;
    font-weight: 600;
    line-height: 23px;
}

.price-breakup-list-outer {
    padding: 20px;
    border-bottom: 1px dashed #DEE4E7;
}

.price-breakup-list-outer .price-breakup-list-item:not(:last-child) {
    margin-bottom: 10px;
}

.price-breakup-list-outer .price-breakup-title p {
    color: var(--Secondary-Color);
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
}

.price-breakup-list-outer .price-breakup-amount p {
    color: #0B182E;
    font-size: 15px;
    font-weight: 500;
    line-height: 23px;
}

.price-breakup-list-outer .shipment-cost-type p {
    font-size: 15px;
    font-weight: 500;
    line-height: 23px;
}

.price-breakup-list-outer .shipment-cost-type.free p {
    color: var(--color-green);
}

.order-details-footer-wrapper .total-order-price-outer {
    padding: 12px 20px;
}

.order-details-footer-wrapper .grand-total-title p {
    color: var(--Primary-Color, #0B182E);
    font-size: 15px;
    font-weight: 500;
    line-height: 23px;
}

.order-details-footer-wrapper .grand-total-amount p {
    color: #171717;
    font-size: 15px;
    font-weight: 600;
    line-height: 23px;
}

.customerDetailsAccordion .accordion-item {
    border: 0;
    border-radius: 0;
    background-color: transparent;
}

.customerDetailsAccordion .accordion-button {
    padding: 15px 20px;
    color: var(--Primary-Color, #0B182E);
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    text-align: left;
    background-color: transparent;
    border-radius: 0 !important;
    box-shadow: none;
    border: 0 !important;
}

.accordion-button::after {
    content: "\f107";
    width: auto;
    height: auto;
    background-image: none;
    font-family: 'Line Awesome Free';
    font-weight: 900;
    color: #0B182E;
    font-size: 20px;
}

.accordion-button:not(.collapsed)::after {
    content: "\f107";
    background-image: none;
}

.customerDetailsAccordion .accordion-body {
    padding: 15px 20px;
    border-top: 1px #DEE4E7 solid;
}

.order-customer-details-data-outer .data-item:not(:last-child) {
    margin-bottom: 12px;
}

.order-customer-details-data-outer .data-item .label p {
    color: var(--Secondary-Color);
    font-size: 15px;
    font-weight: 500;
    line-height: 23px;
    min-width: 115px;
}

.order-customer-details-data-outer .data-item .info {
    padding-left: 5px;
    min-width: 225px;
    margin-left: auto;
}

.order-customer-details-data-outer .data-item .info p,
.order-customer-details-data-outer .data-item .info a {
    color: var(--Primary-Color);
    font-size: 15px;
    font-weight: 500;
    line-height: 23px;
}

.order-customer-details-data-outer .data-item .info a {
    text-decoration: underline;
}

.order-customer-details-data-outer .data-item .info .payment-status p {
    border-radius: 5px;
    background: #EAF0F0;
    padding: 2px 15px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    display: inline-block;
}

.order-customer-details-data-outer .data-item .info .payment-status.paid p {
    color: var(--color-green);
}

.order-details-right-col-data-outer .order-details-right-col-data-row {
    background-color: var(--color-white);
    padding: 20px 25px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.order-details-right-col-data-outer .order-details-right-col-data-row .title {
    margin-bottom: 12px;
}

.order-details-right-col-data-outer .order-details-right-col-data-row .title p {
    color: var(--Primary-Color, #0B182E);
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
}

.editNotesButton {
    padding: 0;
    font-weight: 900;
    font-size: 17px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Button-Color);
    color: var(--color-white);
    border-radius: 5px;
}

.order-notes-data p {
    color: var(--Secondary-Color);
    font-size: 15px;
    font-weight: 500;
    line-height: 23px;
}

.order-details-timeline-outer {
    margin-top: 20px;

    position: relative;

}

.order-details-timeline-outer .timeline-item {
    padding-bottom: 30px;
    position: relative;
    padding-left: 23px;
}

.order-details-timeline-outer .timeline-item::before {
    content: "";
    position: absolute;
    top: 3px;
    left: -6px;
    width: 15px;
    height: 15px;
    background-color: #ACCBCB;
    border: 2px solid var(--color-white);
    border-radius: 100%;
    -webkit-filter: drop-shadow(0px 2px 4px rgba(141, 141, 141, 0.25));
    filter: drop-shadow(0px 2px 4px rgba(141, 141, 141, 0.25));
    z-index: 1;
}

.order-details-timeline-outer .timeline-item.order-delivered-timeline::before {
    background-color: var(--Button-Color);
}

.order-details-timeline-outer .timeline-item::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 0px;
    border-left: 1px dashed #ACCBCB;
    height: 100%;
}

.order-details-timeline-outer .timeline-item.order-delivered-timeline::after {
    display: none;
}

.order-details-timeline-outer .timeline-item .time p {
    color: var(--Secondary-Color);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 8px;
}

.order-details-timeline-outer .timeline-item .order-delivered p,
.order-details-timeline-outer .timeline-item .order-shipment p,
.order-details-timeline-outer .timeline-item .notes p {
    color: var(--Primary-Color);
    font-size: 15px;
    font-weight: 500;
    line-height: 23px;
}

.order-details-timeline-outer .timeline-item .notes p span {
    color: var(--Secondary-Color);
    display: block;
}

.order-details-timeline-outer .timeline-item .delivered-seller a,
.order-details-timeline-outer .timeline-item .seller a {
    color: var(--Secondary-Color);
    font-size: 15px;
    font-weight: 500;
    line-height: 23px;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
}

.order-details-timeline-outer .timeline-item .delivered-seller span,
.order-details-timeline-outer .timeline-item .seller span {
    color: var(--Secondary-Color);
    font-size: 15px;
    font-weight: 600;
    line-height: 23px;
}

.order-details-timeline-outer .timeline-item .delivered-seller span,
.order-details-timeline-outer .timeline-item .delivered-seller a {
    color: var(--Button-Color);
}